<table class ="rwd-table">
  <tr>
    <th>Institution</th>
    <th>Job Title</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Rate</th>
    <th>Paid</th>
  </tr>
  <% current_prof.bookings.institute.each do |booking| %>
  <tr>
      <td data-th="Institution"><%= booking.slot.reservable.hospital.institution_name %></td>
      <td data-th="Job Title"><%= booking.slot.reservable.name %></td>
      <td data-th="Description"><%= booking.slot.reservable.description %></td>
      <td data-th="Phone"><%= booking.slot.reservable.hospital.phone %></td>
      <td data-th="Rate">$<%= booking.slot.reservable.rate %>0</td>
      <td data-th="Paid"> <%= booking.paid %></td>
  </tr>
  <% end %>
</table>
  <% if current_prof.bookings.institute.empty? %>

      <h5>You havent booked any hospital jobs.</h5>

  <% end %>
</div>
