<div class="container" id="mobile-wrapper">
  <h4>Welcome, <%= current_prof.name %></h4>

  <!-- Getting Started -->
  <div class="categories-container">    
  </div>

<!-- Stripe Connect & Find Jobs Buttons -->
  <%= link_to 'Connect Stripe', prof_stripe_connect_omniauth_authorize_path, class:"btn-large #42a5f5 blue lighten-1" %>
  <%= link_to 'Find Jobs', jobs_path, class:'btn-large green-button' %>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <div class="container">
        <h4>Personal Information</h4>
        <%= render 'profs/registrations/secondary_info', resource: current_prof %>
      </div>
    </div>
  </div>


<!-- Check to see if Prof has any booked jobs -->

<% if current_prof.bookings.count > 0 %>
  <h4>Your current jobs</h4>
  <div class="underline-gray"></div>
  <% current_prof.bookings.each do |booking| %>
  <div class="card">
    <div class="job-booked-title">
      <h4><%= booking.slot.reservable.hospital.institution_name %></h4>
    </div>
    <div class="row card-content">
      <div class="col s6">
        <ul>
          <li>Job Name: <br>
            <p><%= booking.slot.reservable.name %></p></li>
          <li>Job Description: <br>
            <p><%= booking.slot.reservable.description %></p></li>
        </ul>
      </div>
      <div class="col s6">
        <ul>
          <li>Contact: <br>
            <p><%= booking.slot.reservable.hospital.phone %></p></li>
          <li>Pay: <br>
            <p>$<%= booking.slot.reservable.rate %>0</p></li>
        </ul>
      </div>
    </div>

  <% end %>
  </div>
<% else %>
<h4 style="text-align: center;">Your booked jobs will be displayed here:</h4>
<% end %>


</div>
