<div class="container" id="mobile-wrapper">
  <h2>Welcome, <%= current_hospital.institution_name %></h2>

  <%= link_to 'Connect Stripe', stripe_connect_login_path, class:"btn-large #42a5f5 blue lighten-1" %>

  <%= render 'jobs/new_job' %>

  <div id="jobs" class="jobs-card-hospitals">
    <% if current_hospital.job_ids.nil? %>
      <h4>You Don't Have Any Job Postings</h4>
    <% else %>
      <h4>Your Open Jobs</h4>
      <%= react_component('JobApp', :jobs => @jobs) %>
    <% end %>
  </div>

  <% current_hospital.jobs.each do |job| %>
  <% job.slots.each do |slot| %>
  <div class="card horizontal">
    <% if slot.prof.nil?  %>
      No bookings
    <% else %>
    <ul>
      <li><h5><%= slot.prof.name %></h5></li>
      <li><h6>Bio: <%= slot.prof.bio %></h6></li>
      <li><h6>Contact: <%= slot.prof.phone %></h6></li>
      <li>
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <h6>Rate: $<%= slot.job.rate %></h6>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A month's subscription"
                  data-amount="<%= slot.job.rate * 100 %>"
                  data-locale="auto"></script>
        <% end %>
        <% end %>
      </li>
    </ul>
  </div>

  <% end %>
  <% end %>

</div>
