<% content_for :google do %>
  <% javascript_include_tag "https://maps.googleapis.com/maps/api/js?&libraries=geometry&key=#{ENV["GOOGLE_KEY"]}", defer: true, async: true %>
<% end %>

<div class="main">
  <div class="sidebar-stuff">
    <%= render 'friend_sidebar' %>
    <div class="modal_back">
      <div id='modal_friend' class=""></div>
    </div>
</div>
  <div class="F_dash">
    <div id="map1"></div>


    <div class="favorite_wrap">
      <div class="favorites">
        <h5>Favorites</h5>
        <p>
          <small>On your sidebar, clicking "Add Favorites" will allow you to bookmark the medical professionals you've enjoyed so that the next time you need them, they'll be notified of your job posting</small>
        </p>
        <ul>
         <% if current_friend.favorites.count > 0 %>
          <% current_friend.favorites.each do |fav| %>
          <li> <%= Prof.find(fav.profs_id).name %> </li>
            <% end %>
            <% else %>
            <a href="/profs"><i class="material-icons no-favs">person_add</i></a><h6>Add Favorites</h6>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="messages">
      <% flash.each do |key, value| %>
        <% unless key == "notice"%>
      <p>  <%= "#{key.capitalize}! #{value}" %>  </p>
      <% end %>
    <% end %>
    </div>
    <div class="dash_right">
          <div class="all_jobs_wrap">
            <% current_friend.friendJobs.each do |job| %>
            <div class="job_wrap">
              <div class="job_header">
                <div class="title">
                  <small>Title:</small>
                  <h6><%= job.name.capitalize %></h6>
                </div>
                <hr>
                <div class="rate">
                  <small>Rate:</small>
                  <h6>$<%= job.rate %>0</h6>
                </div>
              </div>
              <div class="job_content">
                <div class="edit-icon">
                  <a href="/friend_jobs/<%= job.id %>/edit" data-remote="true" onclick="openFriendJobEdit()"><i class="material-icons mode_edit">mode_edit</i></a>
                  <a href="friend_jobs/<%= job.id %>" data-method="DELETE" data-confirm="Are you sure you want to delete this job?"><i class="material-icons">close</i></a>
                </div>
                <div class="job_des">
                  <small>Description</small>
                  <h6>  <%= job.description %>  </h6>
                </div>
                <hr>
                <div class="job_slots">
                  <small> Available Slots: </small>
                  <ul>
                    <% job.slots.each do |slot| %>
                      <% if slot.available %>
                    <li class="slot-icon"> <i class="material-icons">contacts</i></li>
                      <% else %>
                        <% if slot.booking %>
                    <li class="slot-icon"><a href="/dashboard/<%= slot.booking.prof_id %>/prof_show?job=<%= slot.reservable.id %>&type=friend_job&booking_id=<%= slot.booking.id %>" onclick="openProfModal()" id="prof-show-trigger" data-remote="true"><i class="material-icons not-available">check_circle</i></a></li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
  </div>
</div>
<div class="modal_prof_back">
    <div class="modal_content_friend">

    </div>
</div>
<div class="modal_edit_back">
  <div class="modal_edit_job">

  </div>
</div>
