
<div class="hide-on-med-and-down">
  <div class="row" id="dashboard-wrapper">
    <%= render 'hospital_sidebar' %>
    <div class="col s9" id="dash-content">
      <%#= @job %>
      <p class="output_message"></p>
      <div id='modal_hospital' class="new-job-card-hospitals">

      </div>


      <div id="jobs" class="jobs-card-hospitals">
        <% if current_hospital.job_ids.nil? %>
          <h4>You Don't Have Any Job Postings</h4>
        <% else %>
          <h5>Update or Delete Current Jobs</h5>
          <div class="underline-gray"></div>

          <%= react_component('JobApp', :jobs => @jobs) %>
        <% end %>
      </div>

  <div class="col s6" id="job-slots">
    <h5><%= current_hospital.institution_name %>'s Open Jobs</h5>
    <div class="underline-gray"></div>

      <% current_hospital.jobs.each do |job| %>
      <div class="job-posting-title">
          <h5>Job Posting: <%= job.name %></h5>
          <p>The medical professionals for this job are listed below.</p>
      </div>


        <% x = 1 %>
        <% job.slots.each do |slot| %>

          <!-- If there are no bookings for a slot... -->
            <% if slot.prof.nil?  %>
              <div class="card-panel grey lighten-5">
                <div class="row valign-wrapper">
                  <div class="col s4">
                    <p>Job Opening #<%= x %></p>
                    <h5>Not Booked</h5>
                    <% x+=1 %>
                  </div>
                  <div class="col s8">
                    <span class="black-text">
                    <p>Your job has been listed! Medical professionals will appear here once this job opening is booked.</p>
                    </span>
                  </div>
                </div>
              </div>

          <!-- If there is a booking in a slot -->
            <% else %>
              <ul>
                <li><h5><%= slot.prof.name %></h5></li>
                <li><h6>Bio: <%= slot.prof.bio %></h6></li>
                <li><h6>Contact: <%= slot.prof.phone %></h6></li>
                <li><%= link_to "More Info", prof_show_path(:id => slot.prof.id), id: "Info", remote: true %></li>

          <li>
            <%= form_tag charges_path, id: 'chargeForm' do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
              <%#=# hidden_field_tag 'stripeToken' %>
              <%#=# hidden_field_tag 'stripeEmail' %>
              <%= hidden_field_tag :price, job.amount_with_commision %>
              <%= hidden_field_tag :prof_id, slot.prof.id %>
            <button id="customButton">Purchase</button>
            <script>
            // $(document).ready(function(){
              var handler = StripeCheckout.configure({
              key: "<%=ENV['stripe_publishable_key'] %>",
              image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
                token["prof_id"] = <%= slot.prof.id %>
                $.ajax({
                  url: "/charges",
                  method: "POST",
                  dataType: "script",
                  data: token,
                  price: "<%= job.amount_with_commision %>",
                  success(response){
                    console.log("Success", response);
                  },
                  error(response){
                    console.log(response);
                    console.log("<%= slot.prof.id %>");
                  }
                })
              }
            });
            document.getElementById('customButton').addEventListener('click', function(e) {
              handler.open({
                name: 'fast-sands-61772.herokuapp',
                description: "You will be charged a $ <%= Job.commision(job.rate) %> 0 fee.",
                amount: <%= job.amount_with_commision * 100 %>
              });
              e.preventDefault();
              })
              window.addEventListener('popstate', function() {
              handler.close();
            });
            // })
            </script>
            <% end %>
            <!-- <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  <h6>Rate: $<%= slot.job.rate %></h6>
                </label>
              </article>

            <%= hidden_field_tag :price, job.amount_with_commision %>
            <%= hidden_field_tag :prof_id, slot.prof.id %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key='<%= ENV["stripe_publishable_key"] %>'
                    data-description="You will be charged a $<%= Job.commision(job.rate) %>0 fee."
                    data-amount="<%= job.amount_with_commision * 100 %>"
                    data-locale="auto">

                  </script>


                  <% end %> -->
             </li>
            <% end %>
      </ul>

      <% end %>
      <% end %>
      <div class="job-posting-footer">
        <h6>This posting will expire in 3 hours unless it is booked</h6>
      </div>

    </div>
    </div> <!-- End Dash Content Div-->
  </div> <!-- End of Row Div -->


<div class="hide-on-large-only">
  <%= render 'mobile_hospital' %>
</div>
<div id="modal_prof" class="modal">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
