<div class="modal_back">
  <div id='modal_hospital' class=""></div>
</div>
<div class="H_dash">
<%= render 'hospital_sidebar' %>

<div class="dash_left">



      <!-- <div id="jobs" class="jobs-card-hospitals"> -->
        <%# if current_hospital.jobs.nil? %>
        <!-- <h4>You Don't Have Any Job Postings</h4> -->
        <%# else %>
        <%# react_component('JobContent', :jobs => @jobs) %>
        <%# end %>
      <!-- </div> -->


      <div class="edit-job"></div>
        <div class="all_jobs_wrap">
          <% current_hospital.jobs.each do |job| %>
          <div class="job_wrap">
            <div class="job_header">
              <p> <%= job.created_at.strftime("%H:%M:%S") %> </p>
              <h5><%= job.name %></h5>
            </div>
            <div class="job_content">
              <h6> <%= job.description %> </h6>
              <h6> $<%= job.rate %>0 </h6>
            </div>
            <div class="job_footer">
              Slots
            </div>
          </div>
          <% end %>
        </div>
      </div>

</div>
