<div class="main">
  <div class="sidebar-stuff">
    <%= render 'hospital_sidebar' %>
    <div class="modal_back">
      <div id='modal_hospital' class=""></div>
    </div>
</div>
<div class="H_dash">
  <div class="favorite_wrap">
    <div class="favorites">
      <h5>Favorites</h5>
      <ul>
       <% if current_hospital.favorites.count > 0 %>
        <% current_hospital.favorites.each do |fav| %>
        <li> <%= Prof.find(fav.profs_id).name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="dash_right">
      <div class="edit-job"></div>
        <div class="all_jobs_wrap">
          <% current_hospital.jobs.each do |job| %>
          <div class="job_wrap">
            <div class="job_header">
              <div class="title">
                <small>Title:</small>
                <h6><%= job.name.capitalize %></h6>
              </div>
              <hr>
              <div class="rate">
                <small>Rate:</small>
                <h6>$<%= job.rate %>0</h6>
              </div>
            </div>
            <div class="job_content">
              <div class="job_des">
                <small>Description</small>
                <h6>  <%= job.description %>  </h6>
              </div>
              <hr>
              <div class="job_slots">
                <small> Available Slots: </small>
                <ul>
                  <% job.slots.each do |slot| %>
                    <% if slot.available %>
                  <li> <i class="material-icons">contacts</i></li>
                    <% else %>
                  <li><i class="material-icons">check_circle</i></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
</div>
