<div class="hide-on-med-and-down">
  <div class="row">
  <div class="col s3" id="sidebar">
    <%= render 'prof_sidebar' %>
  </div>
  <div class="col s9">
    <h4>Getting Started</h4>
  <!-- :</h6><p>Once you've signed up, click on connect with stripe to start receiving payments for your work.</p></li> -->
  <!-- <p>If you're not already signed in with LinkedIn, click connect with LinkedIn to tie in your credentials and increase your chances of getting hired.</p> -->
  <!-- <p>You can browse the list of open jobs or wait to be notified for openings in your area.</p> -->

    <div class="categories-container">
      <ol class="list-inline getting-started">
        <li class="col s3"><h5>Connect With Stripe</h5></li>
        <li class="col s3"><h5>Sync Your LinkedIn</h5></li>
        <li class="col s3"><h5>Search For Jobs!</h5></li>
      </ol>
    </div>


  </div>
  <div class="col s9" id="dash-content">
    <div class="row">
    <div class="col s8">
      <!-- Secondary Account Info & Update -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <div class="container">
            <h4>Update Account Information</h4>
            <%= render 'profs/registrations/secondary_info', resource: current_prof %>
          </div>
        </div>
      </div>

      <!-- Static Account Information -->
      <div id="modal-account" class="modal">
        <div class="modal-content">
          <div class="container">
            <%= render 'prof_account_info' %>
          </div>

        </div>
      </div>

      <% if current_prof.link_token.nil? %>
      <div class="card-panel grey lighten-5">
        <div class="row valign-wrapper">
          <div class="col s6" id="ask-linkedin">
            <%= link_to image_tag("linkedIn_button.png", height: '50'), prof_linkedin_omniauth_authorize_path %>

          </div>
          <div class="col s6">
            <h5>Sign in with LinkedIn to show potential employers more information about yourself.</h5>
          </div>
        </div>
      </div>
      <% else %>
        <div class="card-panel grey lighten-5">
          <div class="row valign-wrapper">
            <div class="col s3" style="z-index: 1;">
              <%= image_tag @li_profile.profile(:fields => ["picture-url"])["picture-url"], class: "circle" %> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <span class="black-text">
                <% if @li_profile.nil?  %>
                <% else %>
                  <h5>Your Yoopy Profile</h5>
                  <p>Displaying information from your LinkedIn will allow potential employers to get more information about you. This will increase your chances of getting hired.</p>

                  First Name: <%= @li_profile.profile["first_name"] %>
                  <br />
                  Last Name: <%= @li_profile.profile["last_name"] %>
                  <br />
                  Headline: <%= @li_profile.profile["headline"] %>
                  <br />
                  Total Connections: <%=@li_profile.profile(:fields => ["num-connections", "industry"])["num-connections"]%>
                  <br />
                  Industry: <%=@li_profile.profile(:fields => ["num-connections", "industry"])["industry"]%>
                  <br />
                  LinkedIn Profile: <%= link_to "LinkedIn Profile", @li_profile.profile["site_standard_profile_request"]["url"] %>

                <% end %>
              </span>
            </div>
          </div>
        </div>
        <% end %>

        <!-- End of Yoopy Profile Card -->
        <% if current_prof.bookings.count > 0 %>
          <h4>Your current jobs</h4>
          <div class="underline-gray"></div>
          <% current_prof.bookings.each do |booking| %>
          <div class="card">
            <div class="job-booked-title">
              <h4><%= booking.slot.job.hospital.institution_name %></h4>
            </div>
            <div class="row card-content">
              <div class="col s6">
                <ul>
                  <li>Job Name: <br>
                    <p><%= booking.slot.job.name %></p></li>
                  <li>Job Description: <br>
                    <p><%= booking.slot.job.description %></p></li>
                </ul>
              </div>
              <div class="col s6">
                <ul>
                  <li>Contact: <br>
                    <p><%= booking.slot.job.hospital.phone %></p></li>
                  <li>Pay: <br>
                    <p>$<%= booking.slot.job.rate %>0</p></li>
                </ul>
              </div>
            </div>

          <% end %>
          </div>
        <% else %>
        <h5>You don't have any jobs</h5>
        <%= link_to 'Find Jobs', jobs_path, class:'btn green-button' %>

        <% end %>



    </div>





  </div>

  </div>
  </div>
</div>



<!-- Mobile Version -->
<div class="hide-on-large-only">
  <%= render 'mobile_prof' %>
</div>
