<div class="hide-on-med-and-down">
  <div class="col s3" id="sidebar">
    <%= render 'prof_sidebar' %>
  </div>

  <div class="col s9" id="dash-content">
    <div class="row">
    <div class="col s6">
      <div id="modal1" class="modal">
        <div class="modal-content">
          <div class="container">
            <h4>Personal Information</h4>
            <%= render 'profs/registrations/secondary_info', resource: current_prof %>
          </div>
        </div>
      </div>

      <div class="prof-info-collection">
        <h4>Account Information</h4>
        <ul class="collection with-header">
          <li class="collection-item">Phone: <%= current_prof.phone %></li>
          <li class="collection-item">Email: <%= current_prof.email %></li>
          <li class="collection-item">License: <%= current_prof.license_num %></li>
          <li class="collection-item">Bio: <%= current_prof.bio %></li>
        </ul>
      </div>
      <a class="btn #42a5f5 blue lighten-1 modal-trigger" href="#modal1">Update Bio & Account Information</a>
    </div>



    <div class="col s6">
      <h4>Your current jobs</h4>
      <div class="row center-cols center-align">
        <% current_prof.bookings.each do |booking| %>
        <div class="card">
          <span class="card-title" style="width:100%;"><%= booking.slot.job.hospital.institution_name %></span>
          <div class="card-content">
            <%= booking.slot.job.name %>
            <%= booking.slot.job.description %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

  </div>

  </div>
</div>


<div class="card-horizontal">
<div class="container">
    <% if current_prof.link_provider.nil?  %>
  <h3>Sign in with LinkedIn to show potential employers more information about yourself</h3>
  <% else %>
  <h2>LinkedIn Profile</h2>
  <h5>Displaying information from your LinkedIn will allow potential employers to get more information about you. This will increase your
    chances of getting hired.</h5>
    First Name: <%= @li_profile.profile["first_name"] %>
    <br />
    Last Name: <%= @li_profile.profile["last_name"] %>
    <br />
    Headline: <%= @li_profile.profile["headline"] %>
    <br />
    Total Connections: <%=@li_profile.profile(:fields => ["num-connections", "industry"])["num-connections"]%>
    <br />
    Industry: <%=@li_profile.profile(:fields => ["num-connections", "industry"])["industry"]%>
    <br />
    LinkedIn Profile: <%= link_to "LinkedIn Profile", @li_profile.profile["site_standard_profile_request"]["url"] %>
    <br />
    Image: <%= image_tag @li_profile.profile(:fields => ["picture-url"])["picture-url"] %>

    <% end %>
</div>
  </div>

<!-- Mobile Version -->
<div class="hide-on-large-only">
  <%= render 'mobile_prof' %>
</div>
