<%= form_with model: @job, id: 'new_job_form', html:{novalidate: true}, remote: true do |f| %>
<i class="material-icons close-form" onclick="formClose()">close</i>
  <h4>Post A New Job</h4>
  <%= f.hidden_field :hospital_id, :value=>current_hospital.id %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :rate, "Rate: " %>
      <p id="rate_value">$0.00</p>
      <%= f.range_field(:rate, :min=>50, :max=>200, :step => 10, :class => "slide", :id => "slider1") %> <br>

    </div>

    <div class="form-group">
      <h5>How many positions do you need filled?</h5>
      <%= f.label :number_of_slots %>
      <%= f.text_field :slot_num, required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", id: 'submit_job', class:'btn #bdbdbd grey lighten-1', onclick: "text()" %>
    </div>

    <script language="javascript">
      $(document).ready(function() {
        $('#Cancel').click(function() {
          $('#new_job_form').hide();
        })
        $('#slider1').change(function(){
          var value = $('#slider1').val()
          $('#rate_value').text(`$${value}.00`)
        })
      });

    </script>

    <% end %>
