<%= form_with model: @job, id: 'new_job_form', remote: true do |f| %>

  <h4>New Job Posting</h4>
  <%= f.hidden_field :hospital_id, :value=>current_hospital.id %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :rate %>
      <%= f.text_field :rate, :required => true %>
    </div>

    <div class="actions">
      <%= f.submit id: 'submit_job' %>
    </div>

    <%= submit_tag("Cancel", :id => "Cancel")%>
    <script language="javascript">
      $(document).ready(function() {
        $('#Cancel').click(function() {
          $('#new_job_form').hide();
        })
      });
    </script>

    <% end %>
  </div>
</div>
