  <h4>Log in as a Medical Professional</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, id: nil, class: "friend_email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: nil, class: "friend_email" %>
    </div>

    <div class="field">
      <%= f.label :password, id: nil, class: "friend_password" %><br />
      <%= f.password_field :password, autocomplete: "off", id: nil, class: "friend_password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, id: nil, class: "friend_remember" %>
        <%= f.label :remember_me, id: nil, class: "friend_remember" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:"btn-large #42a5f5 blue lighten-1", id: nil, class: "friend_submit_form" %>      
    </div>
  <% end %>



  <%= render "profs/shared/links" %>
