<div class="hide-on-med-and-down">
  <div id="homepage1">
    <div class="homewrapper">

      <!-- Log In Modal With Tabs -->
      <div id="modal4" class="modal">
        <div class="modal-content">
          <%= render 'new_session' %>
        </div>
      </div>

      <!-- Sign In Modal With Tabs -->
      <div id="modal6" class="modal">
        <div class="modal-content">
          <%= render 'new_registration' %>
        </div>
      </div>

      <!-- Home Page Headline & Subheadline -->
      <div class="headline-box">
        <h1 id="headline">Nurse Concierge.<br>Simple.</h1>
        <p id="sub-headline">Yoopy connects you with healthcare professionals quickly.</p>
        <div class="row">
          <div id="cta-button">
            <a class="modal-trigger btn-large green-button" href="#modal6" id="signup-button">Sign Up</a>
            <br /><br />
            <%= link_to "Professionals Sign Up", new_prof_registration_path, class: 'btn-large green-button', id:"signup-button" %>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="home-container">
    <div class="content">
      <div id="homepage2">
        <!-- About Us Row -->
        <div class="row" id="about-us">
          <div class="col s12">
            <h3>About Yoopy Health</h3>
            <div class="underline"></div>
            <p class="subtext">Yoopy provides healthcare professionals & healthcare facilities with more flexibility than any other service in the industry. <br>During emergencies, Yoopy connects you with the professionals.</p>
          </div>


          <div class="col s4">
            <%= scroll_reveal(animation: "enter left, after 0.15s" ) do %>
              <%= image_tag('stethoscope.png', :size => "150x150") %>
              <h5>Professionals</h5>
              <p class="subtext">Healthcare professionals living in South Florida who are college educated, middle class people are considered to be strategic buyers (i.e., excited about the change Yoopy can bring).</p>
            <% end %>
          </div>


        <div class="col s4">
          <%= scroll_reveal(animation: "enter left, after 0.25s" ) do %>
            <%= image_tag('medicine.png', :size => "150x150") %>
            <h5>Facilities</h5>
            <p class="subtext">Healthcare facilities using archaic technology that experience rapid fluctuations in the number of patients per shift are considered economic buyers (those controlling the budget), or technical buyers (those having approval rights).</p>
          <% end %>
        </div>

        <div class="col s4">
          <%= scroll_reveal(animation: "enter left, after 0.35s" ) do %>
            <%= image_tag('heart.png', :size => "150x150") %>
            <h5>Friends</h5>
            <p class="subtext">Private individuals needing help at home instead of going to the hospital are strategic buyers (i.e., are excited about the change Yoopy can bring).</p>
          <% end %>
        </div>

      </div>

      <!-- For Facilities Row -->
      <div class="row" id="for-facils">
        <div class="col s6">
          <%= image_tag('https://s3.us-east-2.amazonaws.com/yoopyimages/iphone_frame_facilities2.png') %>

        </div>

        <div class="col s6">
          <%= scroll_reveal(animation: "enter right, after 0.2s" ) do %>
            <h3>For Medical Facilities</h3>
            <div class="underline-green"></div>
            <p class="subtext">Yoopy provides healthcare facilities with an easy way to automate all staffing needs.</p>
            <%= link_to 'Become A Yoopy Facility', new_hospital_registration_path, id: 'facil-button', class: 'yoopy-button btn-large green-button' %>
          <% end %>

        </div>
      </div>

      <!-- For Professionals Row -->
      <div class="row" id="for-profs">
        <div class="col s6">
          <%= scroll_reveal(animation: "enter left, after 0.2s" ) do %>
            <h3>For Medical Professionals</h3>
            <div class="underline-blue"></div>
            <p class="subtext">Yoopy lets you decide how valuable your time is, who you enjoy caring for, and what you choose to do. Be alerted on your mobile device when facilities in your area are paying for your services.</p>
            <%= link_to 'Become A Yoopy Professional', new_prof_registration_path, id: 'prof-button', class: 'yoopy-button btn-large #42a5f5 blue lighten-1' %>
          <% end %>

        </div>

        <div class="col s6">
          <span id="iphone-display"><%= image_tag('https://s3.us-east-2.amazonaws.com/yoopyimages/iphone_frame_professionals2.png') %></span>
        </div>
      </div>

    </div>
  </div>
  <%= render 'footer' %>
  </div>
</div>


<!-- TABLET & MOBILE VIEW -->
<div class="hide-on-large-only">
  <%= render 'mobile' %>
</div>
