<div id="form-background">
<%= form_for(:friends, url: new_friend_registration_path, method: :post) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
  </div>

  <div class="form-control">
    <%#= f.label :address %>
    <%= f.text_field :address, placeholder: "Address" %>
  </div>

  <div class="form-group">
    <%#= f.label :name %>
    <%= f.text_field :name, placeholder: "Your Name" %>
  </div>

  <div class="form-group">
    <%#= f.label :service %>
    <%= f.text_field :service, placeholder: "What services are you interested in?" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"yoopy-button btn green-button" %>
  </div>
<% end %>

<%= render "friends/shared/links" %>
</div>
