
<%= form_with(scope: :friend_job, url: friend_jobs_path, method: 'post', class: "new_job_form", id: "friendJob_new_job", remote: true) do |f| %>
<i class="material-icons close-friend"  onclick="closeFriendJob()">close</i>
  <h4>Post A New Job</h4>
  <%= f.hidden_field :friend_id, :value=>current_friend.id, class: "friend_id" %>

    <div class="form-group">
      <%= f.label 'Job Name' %>
      <%= f.text_field :name, :required => true %>
      <br>
    </div>
    <div class="form-group">
      <%= f.label 'What type of medical professional do you need?' %>
      <%= f.text_field :description, :required => true %>
      <br>
    </div>

    <div class="form-group">
      <div class="range">
        <%= f.label "Rate: " %>
        <%= f.select(:rate, options_for_select([['$1', 1 ], ['$100', 100], ['$200', 200], ['$300', 300]]),{}, { class: "friendJob_rate" }) %>
        <br>
      </div>
    </div>
    <div id="private_job">
      <label>
          <input type="hidden" class="id_for_favs" value="<%= current_friend.id %>" />
          <input class="private" type="checkbox" onclick="onlySendOneText()"/>
          <span>Private: </span>
          </small>Checking this box will make this job private, which would make it only visible to your favorites.</small>
        </label>
      </div>
    <div class="form-group radius">
      <label>Radius</label>
      <p>
      <small>Selecting a radius will send a text message to  all available professionals within that given radius</small>
    </p>
      <p>
          <label>
            <input class="miles" name="miles" type="radio" value="1" />
            <span>1 Mile</span>
          </label>
        </p>
        <p>
            <label>
              <input class="miles" name="miles" type="radio" value="5" />
              <span>5 Miles</span>
            </label>
          </p>
          <p>
              <label>
                <input class="miles" name="miles" type="radio" value="10" />
                <span>10 Miles</span>
              </label>
            </p>
    </div>
    <div class="form-group">
      <%= f.label 'How many medical professionals do you need?' %>
      <%= f.text_field :slot_num %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", id: 'submit_job', class:'btn #bdbdbd grey lighten-1', onclick: "text()" %>
    </div>


    <% end %>
