<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#">About</a></li>
          <li><%= link_to 'Medical Professionals', root_path %></li>
          <li><%= link_to 'Facilities', root_path %></li>
          <li><a href="#">Blog</a></li>


        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#">About</a></li>
          <li><%= link_to 'Medical Professionals', root_path %></li>
          <li><%= link_to 'Facilities', root_path %></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </div>
  </nav>
