<% if prof_signed_in? %>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Yoopy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Dashboard', dashboard_index_path %></li>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <li><%= link_to 'Log Out', destroy_prof_session_path, :method => :delete %></li>
      <span data-behavior='unread-count' id='unred'></span>
      <a class='dropdown-trigger btn' href='#' data-behavior="notifications" data-target='dropdown1'><i class='material-icons' data-behavior="notifications-link">notifications</i></a>
      <div id='dropdown1' class='dropdown-content' data-behavior='notification-items'>

        <!-- Notification Should appear here. -->
      </div>
      <!-- Notifications end here  -->

    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Dashboard', dashboard_index_path %></li>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <li><%= link_to 'Log Out', destroy_prof_session_path, :method => :delete %></li>

    </ul>
  </div>
</nav>




<% elsif hospital_signed_in? %>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Yoopy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Dashboard', dashboard_index_path %></li>
      <li><%= link_to 'Log Out', destroy_hospital_session_path, :method => :delete %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Dashboard', dashboard_index_path %></li>
      <li><%= link_to 'Log Out', destroy_hospital_session_path, :method => :delete %></li>
    </ul>
  </div>
</nav>

<% else %>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Yoopy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><a class="modal-trigger" href="#modal3">Medical Professionals</a></li>
      <li><a class="modal-trigger" href="#modal4">Facilities</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Home', root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to 'Medical Professionals', prof_session_path %></li>
      <li><%= link_to 'Facilities', hospital_session_path %></li>
    </ul>
  </div>
</nav>
<% end %>
