<% content_for :prof do %>

  <%= javascript_include_tag "signup/prof", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'signup/prof', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="prof_sign_up">

      
              <%= form_for(@prof, url: prof_registration_path, method: :post) do |f| %>              
                <div class="yoopy_form" id="msform">                
                  <ul id="progressbar">
                    <li class="active">Tell us about yourself</li>
                    <li>Professional Information</li>
                    <li>Start Getting Paid</li>
                  </ul>
                <fieldset>
                <div id="prof_signup_error">

                </div>
                  <h5 class="fs-title-main">Medical Professionals</h5>
                  <span class="fs-title-sub">Create your Yoopy account</span>
                  <div class="form-group">
                    <%= f.text_field :name, placeholder: 'Your Name', class: "signup_prof" %>
                  </div>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email Address', class: "signup_prof" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :address, placeholder: 'Street Address' %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "signup_prof" %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: "signup_prof"  %>
                  </div>
                  <%= button_tag "Next", :type => 'button', :class => "next action-button" %>
                </fieldset>
                <fieldset id = "signupForm1">
                  <h2 class="fs-title">Professional Information</h2>
                  <div class="form-group">
                    <%= f.text_field :license_num, placeholder: 'License Number' %>
                    <%= f.text_field :job_title, placeholder: 'Job Title' %>
                  </div>
                  <div class="actions">
                    <div class="input-button" id="signup">
                      <%= f.submit "Sign up", class: "action-button", style: 'height: 50px'%>
                    </div>
                  </div>

                  <%= button_tag "Previous", :type => 'button', :class => "previous action-button" %>
                </fieldset>
            <% end %>
          </div>


</div>

