<!DOCTYPE html>
<html>
  <head>
    <title>Yoopy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import jQuery before materialize.js-->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

    <!-- Google Font: Open Sans Light -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->

    <!--Let browser know website is optimized for mobile-->

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="spinner"><%= image_tag 'loading' %></div>
    <%= render 'menubar' %>
    <%# if prof_signed_in? %>
 <!-- Signed in as <%#= current_prof.name %>. Not you? -->
<%#= link_to "Sign out", destroy_prof_session_path,:method => :delete %>
<%# else %>
<%#= link_to "Sign up", new_prof_registration_path %>
<%#= link_to "Sign in", new_prof_session_path %>
<%#= link_to "Sign in with Linkedin", prof_linkedin_omniauth_authorize_path %>
 <%# end %>
<%#= link_to 'Stripe Login', stripe_connect_login_path(type: :prof) %>

      <%= yield %>




  </body>

</html>
